#scr {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  height: 90vh;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ),
  url("../../../public/assets/WhatsApp_Image_2023-10-27_at_3.49.34_PM-transformed.jpeg");
  overflow: hidden;
}

.scope {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: slid 30s linear infinite;
}

.scope span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
  transition: transform 0.5s;
}

.scope span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  backface-visibility: hidden;
}

.scope span .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.scope span:hover {
  transform: rotateY(180deg);
}

.scope span:hover .card {
  transform: rotateY(0deg);
  opacity: 1;
}

.scope:hover {
  animation-play-state: paused;
}

@keyframes slid {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
